@model Thorium.Aggregator.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="ui center aligned segment">
    <h2 class="ui header center aligned">

        @ViewData["Title"]

    </h2>
    <div class="ui divider"></div>

    <form class="ui large form" asp-controller="Account" asp-action="ForgotPassword" method="post">
        
            <h4>Enter your email.</h4>
            <hr/>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="Email" asp-for="Email" placeholder="Email">
                </div>
            </div>
            <button type="submit" class="ui fluid large submit button inverted" style="background-color: #00a78d">Submit</button>
    

        <div class="ui error message"></div>

    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}